
<div class="container bajar">


  <div class="panel panel-default">
    <div class="panel-heading">
      <h3 class="panel-title"> <b>RESTAURANTS</b> </h3>
    </div>
    <div class="panel-body">

      <div class="row cercar">
        <div id="lista_rest">
          <p id="notice"><%= notice %></p>


          <table class="table table-hover">
            <thead>
              <tr>
                <th>Name</th>
                <th>Specialty</th>
                <th>Detail</th>
                <th>Dependence</th>
                <th colspan="2"></th>
              </tr>
            </thead>

            <tbody id="body_restaurante">
              <% @restaurants.each do |restaurant| %>
              <%= render '/restaurants/row', restaurant: restaurant%>
              <% end %>
            </tbody>
          </table>

       

          <%= link_to 'New Restaurant', new_restaurant_path, remote: true %>

        </div>

        <div id="form_rest">

        </div>
      </div>


    </div>
  </div>
</div>