
<div class="container bajar">


  <div class="panel panel-default">
    <div class="panel-heading">
      <h3 class="panel-title"> <b>RESTAURANTS</b> </h3>
    </div>
    <div class="panel-body">

      <div class="row cercar">
        <div id="lista_rest">
          

          
            <div id="body_restaurante">
              <% @restaurants.each do |restaurant| %>
                <%= render '/restaurants/row', restaurant: restaurant%>
              <% end %>
            </div>
         

          <%= link_to 'New Restaurant', new_restaurant_path, remote: true %>

        </div>

        <div id="form_rest">

        </div>
      </div>


    </div>
  </div>
</div>


