<tr id="dep_<%= dependence.id %>">
  <td><%= dependence.city.try(:name) %></td>
  <td><%= dependence.zone.try(:name) %></td>
  <td><%= link_to 'Destroy', restaurant_dependence_path(dependence, @restaurant), method: :delete, data: { confirm: 'Are you sure?' } , remote: true%></td>
</tr>