<h1>Dependences</h1>

<table class="table table-hover">
  <thead>
    <tr>
      <th>City</th>
      <th>Zone</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody id="body_dependence">
    <% @dependences.each do |dependence| %>
        <%= render '/dependences/dependence', dependence: dependence%>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Dependence', new_restaurant_dependence_path(@restaurant), remote: true %>


<div class="well">
  <div id="form_de"></div>
</div>