
.bajar{
	position: relative;
	top: 30px;
}

.cercar{
	padding: 15px 15px 15px 15px;
}


.in_logo{
	width: 90px;
	height: 90px;
}

.show_logo{
	width: 500px;
	height: 500px;
}

.pad{
	margin: 15px 15px 15px 15px;
}





.locations_depe{
    position: fixed;
}